.csv-file-chooser-section {
	padding: 10px;
	margin-left: 5%;
	margin-right: 5%;
	border: 1px solid;
	text-align: center;
}

.stfc-result-table {
	margin: 2em 5% 2em 5%;
	border: 0px solid #73AD21;
}

table, th, td {
	border: 1px solid #4b5563;
	padding: 3px;
}


table {
	table-layout: fixed;
	display: flex;
	flex-direction: row;
	width: auto;
  }
  table tbody {
	flex: 1;
  }
  table tbody tr {
	width: 1em;
  }
  table tbody tr td {
	white-space: nowrap;
	overflow: hidden;
  }
  table tbody tr td.discard-logs-cell {
	padding-top: 2px;
	overflow: clip;
  }
  table thead, table tbody {
	display: flex;
	flex-direction: row;
  }
  table thead tr, table tbody tr {
	display: flex;
	flex-direction: column;
	flex: 1;
  }
  table thead tr th, table tbody tr th {
	background: #2b3444;
	text-align: right;
	padding-right: 1em;
  }
  table thead tr th, table thead tr td, table tbody tr th, table tbody tr td {
	flex: 1;
  }
  
